<section>
<h1> Contactame </h1>
<br>
<hr>
<div class="me-15">
       <form method="post" action="#">
            <div class="fields">
                <div class="field half">
                    <input type="text" name="name" id="name" placeholder="Nombre" />
                </div>
                <br>
                <div class="field half">
                    <input type="email" name="email" id="email" placeholder="Email" />
                </div>
                <br>
                <div class="field">
                    <textarea name="message" id="message" placeholder="Mensaje"></textarea>
                </div>
            </div>
            <br>
            <ul class="actions">
                <input type="submit" value="enviar" class="bt bt-primary" />
            </ul>
        </form>
    </div>
</div>
</section>