<section>
<br>
<h1> Bienvenido a mi Portafolio </h1>
<br>
<h3> Puedes encontrar mis  contacto en  mis redes sociales <a href="https://github.com/NatieMor"><i class="fab fa-github fa-lg"></i></a> <a href="https://www.linkedin.com/in/nathalie-moraga-scheuermann-0130b254/"><i class="fa-brands fa-linkedin fa-lg p-3"></i></a><h3>
</section>
    <h2 class="text-center">Datos Personales</h2>
    <section>
     <b>¿Quien soy?</b>
     <br> <i> Mi nombre es Nathalie Moraga Scheuermann</i><p> soy una soñadora, que le gusta encontrar en los detalles 
     la belleza y preocupacion por mis proyectos. Me gusta la lectura para entretenerme, la ciencia y el conocimiento. 
     Mi forma de pensar es que siempre se puede aprender a hacer algo, que no hay nada más divertido y satifactorio que hacerlo con tus propias manos<p>
     <li> <b>¿De dónde eres?</b><br>
     <p> Mi Lugar de nacimiento fue en Chile, vivi tanto en Concepción como en Curicó, pase unos meses en Cánada y actualmente me encuentro en Puerto Montt al sur de este bello pais <p>
     </li>
     <li><b>¿A qué te dedicas?<b><br>
     <p> Actualmente me dedico al área de la ciencia, especialmente en la parte molecular/ADN/PCR, ya mi profesión es Ingeniero en Biotecnologia vegetal y trabajo en un laboratorio de ensayo que presta servicios a la industria acuicola. 
     como siempre me ha gustado tener opciones, cuento con un diplomado en administración de empresa
      y actualmente me encuentro en un bootcamp de RubyOnRails, 
      adquiriendo las competencias necesarias para mis futuros proyectos<p></li>
     <li><b>¿Mis experiencia en programando?<b><br>
     <p> Experiencia profesional dentro del ambito de la programación como tal no poseeo, por el momento, pero si experiencia que he ido 
     adquiriendo  al cursar por un bootcamp de RubyOnRails, que me permito mi primer contacto con las competencias necesarias, 
     la metodologia utilizada y una nueva forma de poder abordar la industria digital.<p>
     <p> Como este mundo esta siemrpe en movimiento y avanzando, siempre se pueden crear nuevos contactos junto con alianzas que pueden proporcionar
      oportunidades para aprender en todo ambito, por esto si estas interesado en mi perfil me puedes contactar siemrpe por medio mis redes sociales</li>
</li>
</section>