<section>
<br>
<h1> Bienvenido a mi Portafolio </h1>
<br><br><br>
<h3> Puedes encontrar mis  contacto en  mis redes sociales <i class="fa-brands fa-twitter fa-lg p-3"> </i> <i class="fa-brands fa-linkedin fa-lg p-3"> </i>
<i class="fab fa-facebook fa-lg p-3">  </i><i class="fab fa-instagram fa-lg p-3"> </i><h3>
</section>
<br><br><br>


    <h2 class="text-center">Datos Personales</h2>
    <br>
    
    <section>
     <b>Nombre:</b> <i>Nathalie Moraga Scheuermann</i>
     <li>
     <b>Lugar de nacimiento:</b> <i>Concepción, Región del Bio-Bio, Chile</i>
     </li>
     <li>
    <b>Fecha de nacimiento:</b> <i>18 de enero de 1988</i>
    </li>
</section>